.welcome{
    background-image: url('../img/backgrounds/h_img.jpg');
    background-position: center center;
    background-clip: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 15%;
    color: white;
}
.welcome h1{
    padding: 10px;
    margin: 10px;
}
.welcome p{
    padding: 5px;
}
.mouse_click{
    padding-top: 10%;
}