h3{
    text-align: center;
}
.welcome{
    background-image: url('../img/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 15%;
    color: white;
}
.welcome h1{
    padding: 10px;
    margin: 10px;
}
.welcome p{
    padding: 5px;
}
.mouse_click{
    padding-top: 10%;
}
.about_us{
    text-align: center;
}
.services{
    background-image: url('../img/backgrounds/s_image.jpg');
    color: white;
    background-position: center;
    background-size: cover;
    padding: 20px;
}
.services p{
    padding: 20px;
    text-align: center;
}
.container{
    text-align: center;
}
.what-we-do{
font-weight: bold;
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
    padding-top: 30px;

}